<p>Se você ainda está criando o seu produto, quer entender mais sobre seus clientes ou pelo menos conseguir informações que te deem embasamento para mudanças no seu produto ou no seu negócio, uma forma efetiva de conseguir estes dados é com pesquisas.</p>

<p> Não tem como ficar dentro de casa ou da sua empresa imaginando o que as pessoas querem. </p>

<p><strong>Isso é furada.</strong></p>

<p>Mas você já sabe disso, não é? Já deve ter parado para prestar atenção nos inúmeros questionários e pesquisas que tentam fazer conosco por ai.</p>

<p> É só seguir a mesma linha que eles e correr para o abraço, certo? </p>

<p><em>Hmm.. Não é bem assim.</em></p>

&nbsp;
<h2>A IMPORTÂNCIA DO ESTUDO DE PESQUISA DE MERCADO</h2>

<p>Algumas ferramentas como o google forms e até mesmo as redes sociais podem ter facilitado com que pesquisas simples sejam rapidamente difundidas.</p>

<p>Conseguimos centenas de respostas em minutos através do poder do compartilhamento, mas será que elas são realmente válidas para nós? </p>

<strong>Não é qualquer entrevistado que queremos, nem qualquer pergunta que pergunta que seja respondida.</strong>

Isto porque é possível criar segmentações que possuem um alto viés, ou simplesmente guiar o cliente ou usuário para responder o que nós desejamos, mesmo que de forma inconsciente para nós.

&nbsp;
<div style="background-color: #c2c2c2; padding: 15px;">

<strong>- Você compraria um produto que descarrega as compras de casa para você?</strong>
- Claro, porque não??

<strong>- Você compraria um produto que descarrega as compras de casa para você por R$5.000?</strong>
- Não!

</div>
Viu como é possível nos enganarmos de que nosso projeto será um sucesso ao só perguntar se um entrevisto gostaria de ter um problema de sua vida solucionado?

A que custo esse problema será selecionado? ele é realmente um problema? Será que o cliente está disposto a se esforçar para resolver esse problema?

Essas são questões importantes e mais profundas.

Aliás...temos um problema maior ainda!

Muitas vezes os clientes não falam o que realmente fazem mas sim o que acreditam que fazem.

As vezes, ele nem percebe que fez uma certa ação ou que deseja um certo serviço ou produto. Ele só realiza ações que indicam isto.
<blockquote>E é por isso que metodologias de pesquisa cada vez mais avançadas são criadas, para tentar pegar a essência do que está sendo falado sem se falar.</blockquote>
Para entender a importância de uma pesquisa bem feita para o marketing de uma empresa, deixa eu comentar um pouquinho mais de onde que ela se encaixa nesse processo, tá bom?

&nbsp;
<h3>RESUMO</h3>
Apesar de parecer fácil, uma pesquisa mal estrutura trás dados falsos ou com alto viés. Entrevistados podem ser induzidos a mentir sem nem perceber. Por isso, foram criadas metodologias, que vamos falar aqui.
