<div class="content-container">
  <p>Se você ainda está criando o seu produto e quer entender mais sobre seus clientes, ou pelo menos conseguir informações que te deem embasamento para mudanças no seu produto ou no seu negócio, <b>uma forma efetiva de conseguir estes dados é através de pesquisas.</b></p>

  <p> Até porque, não tem como você ficar dentro de casa ou da sua empresa imaginando o que as pessoas querem e achar que vai acertar. </p>

  <p><b>Isso é furada!</b></p>

  <p>Mas você já sabe disso, não é?</p>

  <p>Já deve ter parado para prestar atenção nos inúmeros questionários e pesquisas que tentam fazer conosco por ai.</p>

  <p> Então é só seguir a mesma linha que eles e correr para o abraço, certo? </p>

  <p><em>Hmm.. Não é bem assim.</em></p>

  &nbsp;
  <h3>A IMPORTÂNCIA DO ESTUDO DE PESQUISA</h3>

  <img class="img-right" src="http://4.bp.blogspot.com/-iH9QK8WnKwo/VonEk-2m4yI/AAAAAAAAAIk/r5t9EA-mz1s/s1600/GOOGLE%2BFORMS.jpg" width="400" align="right"></img>

  <p>Algumas ferramentas como o <a href="https://www.google.com/forms/about/"> Google forms </a> e até mesmo as redes sociais podem ter facilitado com que pesquisas simples sejam rapidamente difundidas.</p>

  <p>É possível conseguir centenas de respostas através do poder do compartilhamento, mas será que elas são realmente válidas para nós? </p>

  <p>Podemos fazer perguntas tendênciosas - não por mal - e para as pessoas erradas, e acabar iludidos de que nossa ideia é incrível, ou pior, <b>que ela é horrível.</b></p>

  <p> Deixa eu te dar uns exemplos: </p>

  <p><i> Você perguntaria para um grupo de mulheres se elas estariam interessadas em um revolucionário barbeador elétrico? </i></p>

  <p> A resposta provavelmente seria em grande parte um "não" e você sairia desmotivado a continuar com seu produto </p>

  <p> A mesma coisa vale para quais são as cores de esmalte mais interessantes para de 30 homens adultos. Apesar deles responderem algumas cores, quem realmente escolhe são as próprias mulheres, então isso invalidaria as respostas </p>

  <p> Aliás, tem aqui outra pergunta ótima: </p>

  <p><i> Você compraria um ebook onde eu ensino a ganhar dinheiro pela internet trabalhando apenas 2 horas por dia? </i></p>

  <p> Claro! Todo mundo quer trabalhar menos e ganhar mais..</p>

  <p> Mas quanto vai custar seu ebook? Essa pessoa precisa de um cartão de crédtio? que habilidades anterior é necessário ter?</p>

  <p>Sua mãe claramente quer ganhar mais dinheiro enquanto vê videos de gatinho no youtube, mas ela nem sabe anexar uma foto no email. Se você tentar vender esse ebook pra ela, ela não vai comprar, mas na sua pesquisa ela falou que sim, né? </p>

  <p> Aliás...temos aqui um problema maior ainda! </p>

  <p> Muitas vezes os clientes não falam o que realmente fazem mas sim o que acreditam que fazem. </p>

  <p> As vezes, ele nem percebe que fez uma certa ação ou que deseja um certo serviço ou produto. Ele só realiza ações que indicam isto. </p>

</div>

  <div class="full-width-blue" style="">
    <div class="content-container">
      <img class="img-right" src="http://www.clker.com/cliparts/Y/3/d/w/R/r/search-icon-white-hi.png" width="150" align="right"></img>

    <h3>Você está entendendo o que estou dizendo?</h3>

    <p> Não adianta fazer uma pesquisa se você vai perguntar para a pessoa errada, ou fazer a pergunta errada! </p>

    <p>Afinal, todo mundo quer trabalhar menos e ganhar mais!! Não quer dizer que ela está inclinada a tomar uma ação quanto a isso. </p>

  </div>
</div>

<div class="content-container">

  <p> Tá, tá.. falei um monte.. mas onde quero chegar? </p>

  <p>A verdade é que existe MUITA MARGEM para interpretação e erro em pesquisa </p>

  <p> E é por isso que se estuda metodologia de pesquisa e estatística: </p>

<hr class="centered-hr">
  <h3 class="inside-hr"> Para levantar uma amostra de respondentes relevante, fazer perguntas que não são tendenciosas, descobrir informações subjetivas do respondente e é claro, saber análisar se o resultado é válido! </h3>

<hr class="centered-hr">

  <p> Nas próximas aulas, vamos aprender em que momento do processo de planejamento de marketing a pesquisa se encaixa, e é claro, por onde começar, que modelos usar e como verificar a veracidade da sua pesquisa. </p>

&nbsp;
  <div class="box box-grey" style="">
      <h3>RESUMO: A IMPORTÂNCIA DA PESQUISA</h3>
      <p>Apesar de parecer fácil, uma pesquisa mal estrutura trás dados falsos ou com alto viés. Isso pode acabar com o seu negócio, mesmo que os resultados sejam promissores.</p>

      <p>Entrevistados podem não ser o seu público alvo, ou até mesmo serem induzidos a mentir sem nem perceber, apenas com uma pergunta mal formulada.</p>

      <p>Por isso, foram criadas metodologias e validações estatísticas, que confirmar ou não a sua hipotese - e nós vamos falar delas neste curso. </p>

  </div>
</div>
