<p>Se você ainda está criando o seu produto e quer entender mais sobre seus clientes, ou pelo menos conseguir informações que te deem embasamento para mudanças no seu produto ou no seu negócio, <b>uma forma efetiva de conseguir estes dados é com pesquisas.</b></p>

<p> Até porque não tem como ficar dentro de casa ou da sua empresa imaginando o que as pessoas querem e achar que vai acertar. </p>

<p><b>Isso é furada.</b></p>

<p>Mas você já sabe disso, não é?</p>

<p>Já deve ter parado para prestar atenção nos inúmeros questionários e pesquisas que tentam fazer conosco por ai.</p>

<p> Então é só seguir a mesma linha que eles e correr para o abraço, certo? </p>

<p><em>Hmm.. Não é bem assim.</em></p>

&nbsp;
<h3>A IMPORTÂNCIA DO ESTUDO DE PESQUISA</h3>

<p>Algumas ferramentas como o <a href="https://www.google.com/forms/about/"> Google forms </a> e até mesmo as redes sociais podem ter facilitado com que pesquisas simples sejam rapidamente difundidas.</p>

<p>É possível conseguir centenas de respostas através do poder do compartilhamento, mas será que elas são realmente válidas para nós? </p>

<p>É isso que a estatística e o estudo de pesquisa de mercado nos responde.</p>

<p><b>Afinal, não é qualquer entrevistado que queremos, nem qualquer pergunta que pergunta que seja respondida.</b></p>

<p> Isto porque é possível criar segmentações que possuem um alto viés, ou simplesmente guiar o cliente ou usuário para responder o que nós desejamos, mesmo que de forma inconsciente para nós.</p>


<div class="box box-grey">

<p>- Você compraria um produto que descarrega as compras de casa para você?</p>
<li> - Claro, porque não?? </li>

<p>- Você compraria um produto que descarrega as compras de casa para você por R$5.000?</p>
<li>- Não!</li>

</div>
<p></p>

<p> Viu como é possível nos enganarmos de que nosso projeto será um sucesso ao só perguntar se um entrevisto gostaria de ter um problema de sua vida solucionado? </p>

<p>A que custo esse problema será selecionado? ele é realmente um problema?<p>

<p>Será que o cliente está disposto a se esforçar para resolver esse problema?</p>

<p>Essas são questões importantes e mais profundas.</p>

<p> Aliás...temos um problema maior ainda! </p>

<p> Muitas vezes os clientes não falam o que realmente fazem mas sim o que acreditam que fazem. </p>

<p> As vezes, ele nem percebe que fez uma certa ação ou que deseja um certo serviço ou produto. Ele só realiza ações que indicam isto. </p>

<blockquote>E é por isso que metodologias de pesquisa cada vez mais avançadas são criadas, para tentar pegar a essência do que está sendo falado sem se falar.</blockquote>

<p> Para entender a importância de uma pesquisa bem feita para o marketing de uma empresa, deixa eu comentar um pouquinho mais de onde que ela se encaixa nesse processo, tá bom? </p>

&nbsp;
<h3>RESUMO</h3>
<p>Apesar de parecer fácil, uma pesquisa mal estrutura trás dados falsos ou com alto viés. Entrevistados podem ser induzidos a mentir sem nem perceber. Por isso, foram criadas metodologias, que vamos falar aqui. </p>
