<div class="content-container">
  <p> O Posicionamento é a fundação do plano comercial de uma empresa. Nela, definimos o que vamos vender e para quem vamos vender e como nosso produto ou serviço deve ser para ocupar um lugar lugar distinto na mente de nossos usuários. </p>

  Para conseguir tal feito, realiza-se a segmentação dos usuários e a diferenciação dos produtos.

  Uma pesquisa serve tanto para descobrir informações sobre quem é seu cliente ideal, comprovar se ele realmente é cliente certo para você ou até mesmo obter informações das reais necessidades, que você utilizará para fazer a diferenciação.

  Definição Pesquisa Qualitativa de Marketing

  Pesquisa de marketing envolve a identificação sistemática e objetiva, coleta, análise, e uso de informação com objetivo de apoiar decisões relacionadas à identificação e solução de problemas ( e oportunidades de marketing )

  RESUMO

  A pesquisa é um processo que ocorre na parte estratégica do seu negócio e está diretamente associada com o posicionamento. Você já levantou as hipóteses e quer validá-las.

  <img src="https://s3-sa-east-1.amazonaws.com/puggs/pesquisa-de-mercado-1"></img>

</div>
