<div class="container" style="color:white;">
<div class="row">
      <div class="col-sm-3">
        <a href="/">
          <!-- <img alt="Code4startup" class="footer-logo hidden-xs" src="/assets/Code4Startup-bf5bd03b9521e84a239b88d514a56e2c.png" />           -->
          <strong>Code4Startup</strong>
        </a>
        <p class="small ">We are a MUST-GO for anyone who has an idea and want to build their own app. Get the C4S difference, pick up REAL skills for REAL world projects.
        </p>
        <br>
        <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics"></a>
      </div>

      <div class="col-sm-3">
        <h6><span>Courses</span></h6>
        <p class="small">
          <a href="/projects/zero-create-landing-page-mail-chimp-woofu-viral-marketing-strategies">Zero</a><br>
          <a href="/projects/ninja-learn-angularjs-firebase-by-cloning-udemy">TaskRabbit</a><br>
          <a href="/projects/hero-learn-ruby-on-rails-and-wistia-apis-by-cloning-code4startup-version-newbies">Code4Startup - Newbies</a><br>
          <a href="/projects/hero-learn-ruby-on-rails-and-full-stack-by-cloning-code4startup-version-pro">Code4Startup - Pro</a><br>
          <a href="/projects/airalien-clone-airbnb-with-ruby-on-rails-bootstrap-jquery-and-paypal">AirBnb</a><br>
          <a href="/projects/build-etsy-mobile-app-with-ionic-and-angular">Etsy</a><br>
          <a href="/projects/build-tinder-mobile-app-with-ionic-and-angular">Tinder</a><br>
        </p>
      </div>

      <div class="col-sm-3">
        <h6><span>Social</span></h6>
        <p class="small">
          <a href="https://twitter.com/Code4Startup">Twitter</a><br>
          <a href="https://www.facebook.com/code4startup">Facebook</a><br>
          <a href="https://plus.google.com/117933447626505155320/posts">Google+</a><br>
        </p>
      </div>

      <div class="col-sm-3">
        <h6><span>Contact &amp; Support</span></h6>
        <p>
          <a href="/privacy-policy">Privacy Policy</a><br>
          <a href="/terms">Terms &amp; Conditions</a>
        </p>
        <p class="small">
          You can contact me via email: <a href="mailto:leo@code4startup.com?Subject=Support" target="_top">leo@code4startup.com</a><br>
        </p>
      </div>

    </div>
    <div class="row center">
      <p>©2016 Stud, Todos os direitos reservados.</p>
    </div>
</div>  