<footer id="footer">
  <div class="container">
    <ul class="nav nav-pills">
      <li role=""><a href="#">Blog</a></li>
      <li role=""><a href="#">Política de Privacidade</a></li>
      <li role=""><a href="#">Contato</a></li>
      <li role=""><a href="#">Facebook</a></li>
      <li role=""><a href="#">Instagram</a></li>
    </ul>
  </div>
</footer>
