
  <header class="intro-header show-aula-header" style="background-image: url('https://static.pexels.com/photos/1139/black-and-white-city-skyline-buildings.jpg')">
      <div class="header-container">
        <div class="row">
          <h1><%= @aula.title %></h1>
          <h4 class="col-md-6 col-md-offset-3" style="margin-top: 20px;"> Aprenda marketing digital e programação de uma forma que você pode começar a aplicar ainda hoje!</h4>
      </div>
    </div>
  </header>
  <section id="show-aula-content">
    <div class="content content-container">
    <%= render file: "/aulas-html/#{@aula.content}" %>
    </div>
  </section>
  <section id="show-aula-comments">
    <div class="content content-container">
      <% if !@next_aula.nil? %>
        <%= link_to "Próxima Aula",[@next_aula.curso, @next_aula], class:"btn btn-highlight" %>
      <% end %>
    <hr>
      <%= render 'shared/disqus' %>
  </div>
  </section>
