<div class="content-container">
  <p> O Marketing, no geral, e consequentemente o Marketing Digital são diciplinas bastante subjetivas, e que tomaram algumas conotações um pouco diferentes na internet. </p>

  <p> É possível encontrar cursos sobre como ganhar dinheiro rápido online ou "hacks" para "crescer exponencialmente" e considerá-los como conteúdo de marketing digital.</p>

  <img src="https://kalimanelhombreincreiblevuelve.files.wordpress.com/2012/12/oferta-especial.gif" align="right" width="200"></img>

  <p>É também por conta do Marketing Digital que você tem sua caixa de email lotada de promoções bobas, paginas irritantes cheias de pop up ou invasões de privacidade com empresas te mandando mensagem no whatsapp sem a sua devida permissão. </p>

  <p> Todas elas são em algum momento foram ferramentas de sucesso para marquetear produtos e serviços e que infelizmente, por serem usadas em excesso vão exatamente contra tudo que se propuseram realizar. </p>

  <p> É por isso que vemos <b>taxas de abertuda de email caindo</b>, o número de <b>ad-blockers</b> ( aplicativos que bloqueiam anúncios ) aumentando e passamos a ter uma sensação de raíva para com aquelas empresas que ficam nos seguindo por ai com seus <b>banners de remarketing</b>, não é? </p>

  <img class="img-center" src="http://cdn2.hubspot.net/hubfs/479181/-Marketers_ruin_everything.-.png" width="70%"> </img>
  <p class="img-small"> "Marqueteiros arruinam tudo" </p>

 <p> Mas porque isso acontece? </p>

 <p><b> Porque táticas perdem sua eficácia, tornando parte dos nossos investimentos como profissionais de marketing anulados de tempos em tempos? </b></p>

 <p><b> E porque, como consumidores, nós nos sentimos incomodados com esses atuais tipos de comunicação e anúncios? </b></p>

 <p> A resposta é simples: </p>

 <p> PORQUE NÃO SE ESTÁ FAZENDO MARKETING DIGITAL CORRETAMENTE!</p>

 <p> e ponto! </p>

 <hr class="centered-hr">

 <p> Há 50 anos atrás, era fácil desenvolver um comercial, jogar na TV e ver consumidores vindo atrás de você. </p>

 <p> Existia menos competição, e é claro, menos busca pela atenção do consumidor, que não consumia tanta informação quanto hoje. </p>

 <p> Atualmente, você precisa estar muito mais atento à quem é esse possível novo cliente, checar se o que você está oferecendo é de certa forma interessante para ele, criar uma história factível e é claro, construir todas as fases do processo de venda, para finalmente conseguir uma venda. </p>

 <p> É necessário, como empresa ou como empreendedor, manter um relacionamento consistente para que você possua uma estratégia sustentável a longo prazo </p>

 <p><b> não é um trabalho fácil! </b></p>

 <p> Mas também não é de hoje você precisa se concentrar em tudo isso. </p>

 <p> Kotler, um dos pais do Marketing deifiniu muito bem no que devemos nos focar há mais de 40 anos atrás: </p>

 <hr class="centered-hr">

 <h3 class="inside-hr"> "Marketing é a ciência e a arte de explorar, criar e entregar valor para satisfazer as necessidades de um mercado-alvo com lucro. Marketing identifica necessidades e desejos não realizados. Ele define, mede e quantifica o tamanho do mercado identificado e o potencial de lucro." </h3>
 <p style="text-align: right;"> Philip Kotler </p>

 <hr class="centered-hr">

 <p> Em resumo, o marketing consiste em: </p>

 <ol>
   <li> Encontrar, quantificar e mensurar um mercado-alvo </li>
   <li> Descobrir e satisfazer necessidades e desejos não realizados</li>
   <li> Criar, explorar e entregar valor </li>
   <li> Obter lucro em cima da venda de valor. </li>
 </ol>

<p> e o marketing digital consiste em realizar a mesmas ações, só que o ambiente digital </p>

 <hr class="centered-hr">

<h3> O que você irá aprender neste curso? </h3>

<p> Sabendo das principais atividades de marketing, iremos abordar: </p>

<ul>
  <li> Formas de encontrar, segmentar, e descobrir as necessidades de seus possíveis clientes </li>

  <li> Como desenvolver a história da sua marca baseado na segmentação e necessidades dos usuários - e aqui entra logo, site, mensagem e etc. </li>

  <li> Como trabalhar com aquisição de tráfego para trazer possíveis clientes para seu negócio, entrando mais a fundo também no marketing de conteúdo, Search engine Optimization e redes sociais. </li>

  <li> É claro, como converter esse cliente e como analisar os dados de quem também não converteu para entender melhor os dois lados. </li>

  <li> E se você tem um pouco de dinheiro para gastar, falaremos também de formas de anúncio pago, entrando no básico do facebook ads e google adwords </li>
</ul>

<p></p>
<p></p>

  <div class="box box-grey">
    <h3> RESUMO: INTRODUÇÃO </h3>

    <p>A ideia desse curso é dar uma base bem legal para que você possa se aventurar no marketing digital e nos outros cursos mais específicos que vão aparecer no PUGGS, então mãos à obra! </p>
  </div>

</div>
