<div class="content-container">

  <p> Objetivos:
    Mostrar que é necessário ter em mente os seus objetivos com marketing. Se você tem um produto, será necessário validá-lo e encontrar um publico para ele.

    Se você quer descobrir um mercado, terá de encontrar o publico e uma necessidade, da mesma forma.

  </p>

  <p><b> Não é brincadeira: Nós estamos no momento de maior número de oportunidades e formas de fazer marketing! </b></p>

  <p> Conseguimos criar, nos conectar e levar nosso conteúdo para o outro lado do mundo com poucos cliques, comprar anúncios, realizar vendas e muito mais, tudo isso usando um computador de nossa casa. </p>

  <p> E ele nem precisa custar uma fortuna! Dá para fazer muita coisa até com o seu smartphone! </p>

  <p> As possibilidades são realmente infinitas e não faltam casos de sucesso para nos inspirar. </p>

  <hr class="centered-hr">

  <p> Mas apesar de o conteúdo estar disponível aos montes, e as promessas de “hacks”, “sacadas” e “segredos” do marketing digital aparecem constantemente para nós em anúncios do Facebook, elas ainda parecem peças avulsas de um quebra cabeça que teima em não se montar.</p>

  <p> Qual que é o probema então? </p>

  <p> O caso é que o marketing é uma disciplina 'estratégica'.</p>

  <p><b>Você precisa ter muito claro onde deseja chegar para definir as suas táticas de marketing, executá-las, mensurá-las e é claro, decidir se alcançou o esperado - ou se irá precisar fazer ajustes. </b></p>

  <p> Não adianta sair atirando para todo lado com sacadas e mais sacadas se aquilo não fizer sentido para seu negócio, ou se simplesmente não te deixar mais perto do seu objetivo, sabe? </p>

  <p> Se você caminhar sem uma direção, vai acabar gastando dois importantes recursos de sua empresa: tempo e dinheiro.</p>

</div>
<div class="full-width-blue">
  <div class="content-container">

  <h3> ANTES DE COMEÇAR, DEFINA SEUS OBJETIVOS! </h3>

  <p> Considere pontos como: </p>

  <ul>
    <li>Em quanto deseja aumentar suas vendas?</li>
    <li>Em quanto tempo?</li>
    <li>Qual é o seu orçamento?</li>
    <li>Quantas pessoas vão trabalhar nisso?</li>
  </ul>

  </div>
</div>
<div class="content-container">

  <p> Sabendo exatamente o que você quer para o seu negócio, chega a hora de focar em outro ponto importante: </p>

  <h3> Uma estratégia de Marketing começa com os Clientes! </h3> </p>

  <p> Quem são as pessoas que utilizam os seus produtos? O que elas gostam, assistem, escutam ou simplesmente, qual é o perfil delas? </p>

  <p> Elas precisam estar em um local específico? Como encontram o seu negócio até o momento? O que importa para elas em seu negócio?</p>

  <p> Marketing se trata de relacionamento entre humanos e no fim do dia, os seus clientes não vão se lembrar de onde te encontraram ou como chegaram até o seu produto, mas sim a relação que foi criada durante este processo. </p>

  <p> Se você sabe o que eles precisam, o que esperam, onde estão físicamente ou onde está a sua atenção - online ou offline - você pode começar uma conversa para tentar ajudá-los a solucionar seus problemas ou para convencê-los de que seu produto pode solucionar estes problemas. </p>

  <p> Se você não tem isso em mãos, erros como esse podem acontecer: </p> 

  <div class="box box-grey">

    <h3> Exemplão Maroto #1 </h3>

    <p> Vamos imaginar que você possui um pequeno petshop em Anápolis, cidade do interior de Goiás, e que na semana passada, o sobrinho do seu sócio falou que o futuro está na internet. </p>

    <p> Sabendo disto, você montou uma bonita página para seu negócio e fez um post igual a esse do Petz - e recebeu 34 mil likes (tal como o dele). </p>

    <img src="https://s3-sa-east-1.amazonaws.com/puggs/marketing-foto-facebook-petz" class="img-center"></img>

    <p> Você ficou animadíssimo, mas nenhuma venda a mais ocorreu essa semana no seu necegócio </p>

    <p> Será que essa tática de marketing foi um sucesso? </p>

    <p> Provavelmente não.... </p>

    <p> Porque? </p>

    <p><b> 90% das curtidas vieram de São Paulo, 5% delas, do Rio e de Minas, mas quase nenhuma da sua cidade! </b></p>

  </div>

  <p> É por isso que a definição de objetivos é tão importante! </p>

  <p> Imagina se você tivesse pagado por esses likes quanto ia sair? e sem converter vendas! </p>

  <p> Se logo de cara você tivesse determinado que precisava movimentar um negócio local poderia ter segmentados os usuários corretamente no facebook ou optado por anúncios no Google, por exemplo. </p>

  <p> E é por isso, que a primeira coisa que vamos ver é como e definir o seu cliente </p>


  <div class="box box-grey">

    <h3> A importância do Objetivo </h3>

    <p> Se eu possuo um pequeno site de e-commerce de camisetas, por exemplo, eu não posso simplesmente decidir apenas aumentar as vendas como meu plano de marketing e sair disparando ações para tudo quanto é lado. </p>

    <p> Aumentar quantas vendas? Em quanto tempo? Com qual orçamento? Terei mão de obra disponível ou será só o meu tempo usado? </p>

    <p> Para qualquer projeto de marketing que vocês desejam iniciar, é necessário ter todos esses pontos ( e alguns mais ) em mente. </p>

  </div>

  <h4><b> Por onde começar então? </b></p>


  <p> Sabendo que o marketing consiste em identificar necessidades dentro de um mercado alvo e posteriormente entregar valor para ele



  <p> “O primeiro passo para um campanha de marketing ser bem sucedida é compreender suas necessidades e seus objetivos”</p>

  <p> Aliás, vamos escolher um agora: ele pode ser “vender meu primeiro produto online” , conseguir 5 novas ligações para meu negócio físico ou simplesmente montar uma lista de email de 50 pessoas interessadas em um produto que nem existe. Quem sabe até criar um canal do youtube com 1000 inscritos.</p>

  <p> O importante mesmo é que seu objetivo seja quantitativo e tenha um prazo. Isso facilita muito como você trabalhará em cima dele é que ferramentas irá utilizar.</p>

  <p> Ah Bruno.. meu objetivo é ganhar mais. PERA! Quanto? Em quanto tempo?</p>

  <p> “Eu quero ganhar 1000 reais a mais por mês daqui 1 ano!”</p>

  <p> “Eu quero ter 500 acessos na minha página por semana daqui 6 meses”</p>

  <p> “Eu quero vender um produto antes de acabar o curso.”</p>

  <p> Beleza… agora estamos chegando mais perto.</p>

  <p> Aliás. Preencha também quanto tempo você tem por semana para se dedicar à esse objetivo é quanto tem para gastar.</p>

  <p> Você pode mudar essas informações na sua página.</p>

  <p> Sabendo disso, dá para pularmos para a próxima fase:</p>

</div>
