// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$blue: #02b3e4;
$dark-blue: #028BB1;
$grey: #F6F8F8;
$dark-grey: #E2E8E9;
$darker-grey: #697681;
$almost-black: #161616;



// GERAL

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  font-size: 3em;
  @media (max-width: 480px) {
  font-size: 2em;
  }
}

h2 {
  font-size: 2.5em;
  @media (max-width: 650px) {
  font-size: 1.5em;
  }
}

h3 {
  font-size: 2em;
  line-height: 1.25em;
  @media (max-width: 650px) {
  }
}

h4 {
  font-size: 1.5em;
  @media (max-width: 650px) {
  font-size: 1em;
  }
}

h1, h2, h3 {
  font-weight: 600;
}


.center {
  text-align: center;
  align: center;
}

.divcenter {
  position: relative;
  top: 50%;
  margin: 0 auto;
}

//HEADER

.navbar-custom {
  background-color: white;
  color: $blue;
  border: none;
  z-index: 3;
  margin-bottom: 0px;
  height: 80px;
  padding: 15px;
}

.navbar-default .navbar-brand,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
  background-color: white;
  border: 0px;
}

.navbar-default .navbar-brand,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a  {
  font-weight: 600;
  z-index: 3;
  color: $blue;
  font-size: 1.5em;
  @media (max-width: 480px) {
    font-size: 1em;
  }

}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
  font-weight: 300;
  font-size: 1em;
  color: $darker-grey;
}

//COMMOM STYLES

.panel-default {
  box-shadow: 0 0.3125em 1.25em 0 rgba(46, 61, 73, 0.12);
  border-color: #DBE2E8;
  border-width: 1px;
}

.container {
  max-width: 1200px;
}

.userimg {
  border-radius: 50px;
  margin: 0 auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  padding: 15px;
}

//INDEX STYLES

.content {
  clear: both;
  min-height:100%;
}

.intro-header {
  background-image: url('header');
  position: relative;
  opacity: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 100px;
  background-position-y: 50%;
  z-index: 1;
  background-size: cover;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  @media (max-width: 600px){
    padding:30px;
  }
}

.intro-header::before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  content: "";
  display: block;
  z-index: 2;
  opacity: 0.6;
  float: left;
}

.intro-header::after,  .header-container::after {
  clear: both;
  display: table;
  content: " ";
  box-sizing: border-box;
}

.index-header {
  min-height: 375px;
}

.header-container {
  z-index: 3;
  opacity: 1;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  position: relative;

  h1, h3, h4 {
    color:white;
  }

  h1 {
    size: 3em;
  }

  h3 {
    font-weight: 300;
  }
}

.notice {
  background-color: $blue;
  position: absolute;
  z-index: 10;
  color: white;
  align-items: right;
  size: 2em;
}


// IMAGES
.img-right {
  left: 25px;
  position: relative;
}

// SUB-HEADER

.index-subheader-left {
  background-color: $blue;
  height: 400px;
  color: white;
  margin-bottom: 40px;
}

.index-subheader-right {
  background-color: #f4f4ef;
  height: 400px;
  margin-bottom: 40px;
}

.half-container {
  width: 500px;
  align-text: center;
  margin: auto;
  padding: 50px;
}

//INDEX COURSES

#index-courses, #show-course-content, .background {
  background-color: $grey;
  min-height: 800px;
  padding-top: 50px;
}

.course-title {
  text-transform: uppercase;
  font-size: 1.25em !important;
}
.circleimgindex {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23);
    align-items: right;
}

.panel-padding {
  padding: 5px;
}

.index-panel {
  padding: 20px 30px 30px 30px;
  height: 340px;
  border: 0px;
    h3 {
      color: #363636;
      margin-bottom: 20px;
      font-size: 1.5em;
    }
    h3, p {
      text-align: center;
      height: 52px;
    }

}

.index-course-content {
  min-height: 70px;
}

.btn-highlight {
  margin: auto;
  padding: 9px 40px 9px 40px;
  margin-top: 40px;
  display: block;
  background-color: $blue;
  color: white;
  font-size: 1em;
  font-weight: 600;
}

// SHOW COURSE

#show-course-header {
  min-height: 300px;
  background: linear-gradient(to right, $blue, #616db3);
  color: white;
  padding-top: 25px;

  h3, h5, h2 {
    text-align: center;
  }
}

.show-course-info-row {
  margin-bottom: 20px;
}

#show-course-content {
  padding-top: 10px;
}

.border-circle {
  border-radius: 30px;
  border: 0.5px solid rgba(79, 79, 79, 0.8);
  font-weight: 300;
  color: #4F4F4F;
  float: left;
  width: 27px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  height: 27px;
  padding: 4px;
}


.link-aula {
  decoration: none;
  font-size: 1.25em;
  color: #4F4F4F !important;
}

.aulas-header {
  margin-top: 50px;
}

.panel-show-course {
  margin-top: 50px;
  height: 250px;
  padding-top: 50px
}

// SHOW AULA

#show-aula-content {
  p {
    font-size: 1.25em;
    margin-bottom: 1.25em;
    line-height: 1.5em;
  }
  h3 {
    margin-bottom: 30px;
  }
}

.show-aula-header {
  max-height: 375px;
  @media (max-width: 650px) {
    max-height: 200px;
  }
}

.content-container {
  max-width: 1000px;
  padding-left: 125px;
  padding-right: 125px;
  margin: 0 auto;
  margin-top: 50px;
  @media (max-width: 750px) {
    padding: 20px;
  }
}

#disqus_thread {
  padding: 15px;
}

//Review div

.panel-review {
  min-height: 350px;
  padding: 20px;
}

.inside-review {
  text-align: left;
  strong, small, p, h6 {
    text-decoration: none;
    @media (max-width: 768px) {
      text-align: center;
      align-content: center;
    }
  }
}

//FOOTER

#footer {
  background-color: #2a2730;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $grey;
  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    background-color: transparent;
    border: none;
  }
}

.footer-links {
  display: flex;
  margin-right: 30px;
}
//SHORTCODES

.box {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  background-color: #eaeaea;
}

.box-grey {
  background-color: #fafafa;
}

.box-red {
  background-color: red;
}

.img-center {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
}

.full-width-blue {
  background-color: $blue;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  .content-container {
    margin-top: 0px;
  }
}

.centered-hr {
  width: 33%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-color: $dark-grey;
}

.inside-hr {
  font-weight: 300;
  text-align: center;
}

#show-aula-comments > div > div.row > div.col-md-offset-2.col-md-5.lesson-btn.next-btn > a, #show-aula-comments > div > div.row > div.col-md-5.lesson-btn.prev-btn > a.btn.btn-highlight {
padding-left: 15px !important;
padding-right: 15px !important;
}

.lesson-btn {
  h5 {
    font-size:1.5em;
    font-weight: 600;
    margin-bottom: 0;
  }
  small {
    text-decoration: none;
  }
}

.next-btn {
  a {
    text-align: right;
  }
}

.prev-btn {
  a {
    text-align: left;
  }
}

.img-small {
  text-align: center;
  text-size: 0.8em;
}

// box-shadow para ser usado no cinza: 0 0.125em 0.25em 0 rgba(46, 61, 73, 0.12);
// box-shadow udacity no branco: 0.3125em 1.25em 0 rgba(46, 61, 73, 0.12);
// box-shadow code-school padráo: 0 1px 1px rgba(0,0,0,0.3)
