// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

$blue: #02b3e4;
$dark-blue: #028BB1;
$grey: #F6F8F8;
$dark-grey: #E2E8E9;
$darker-grey: #697681;



// GERAL

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h1, h2, h3 {
  font-weight: 600;
}

.center {
  text-align: center;
  align: center;
}

.divcenter {
  position: relative;
  top: 50%;
  margin: 0 auto;
}

//HEADER

.navbar-custom {
  background-color: white;
  color: $blue;
  border: none;
  z-index: 3;
  margin-bottom: 0px;
  height: 80px;
  padding: 15px;
}

.navbar-default .navbar-brand,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a  {
  font-weight: 600;
  z-index: 3;
  color: $blue;
  font-size: 1.5em;
  @media (max-width: 480px) {
    font-size: 1em;
  }

}

#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li > a {
  font-weight: 300;
  font-size: 1em;
  color: $darker-grey;
}

//COMMOM STYLES

.panel-default {
  box-shadow: 0 0.3125em 1.25em 0 rgba(46, 61, 73, 0.12);
  border-color: #DBE2E8;
  border-width: 1px;
}

.container {
  max-width: 1200px;
}


//INDEX STYLES

.content {
  clear: both;
  min-height:100%;
}

.intro-header {
  background-image: url('header');
  position: relative;
  opacity: 1;
  height: 375px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 100px;
  background-position-y: 50%;
  z-index: 1;
  background-size: cover;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.intro-header::before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: black;
  content: "";
  display: block;
  z-index: 2;
  opacity: 0.6;
  float: left;
}

.intro-header::after,  .header-container::after {
  clear: both;
  display: table;
  content: " ";
  box-sizing: border-box;
}

.header-container {
  z-index: 3;
  opacity: 1;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  position: relative;

  h1, h3 {
    color:white;
  }

  h1 {
    size: 3em;
  }

  h3 {
    font-weight: 300;
  }
}

.notice {
  background-color: $blue;
  position: absolute;
  z-index: 10;
  color: white;
  align-items: right;
  size: 2em;
}

// SUB-HEADER

.index-subheader-left {
  background-color: $blue;
  height: 400px;
  color: white;
  margin-bottom: 40px;
}

.index-subheader-right {
  background-color: #f4f4ef;
  height: 400px;
  margin-bottom: 40px;
}

.half-container {
  width: 500px;
  align-text: center;
  margin: auto;
  padding: 50px;
}

//INDEX COURSES

#index-courses, #show-course-content, .background {
  background-color: $grey;
  min-height: 800px;
}

.circleimgindex {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 5px 10px rgba(0,0,0,0.23);
    align-items: right;
}

.index-panel {
  padding: 20px 40px 30px 40px;
  height: 340px;
    h3 {
      color: #363636;
      margin-bottom: 20px;
    }
    h3, p {
      text-align: center;
      height: 52px;
    }


}

.index-course-content {
  height: 60px;
}

.btn-highlight {
  margin: auto;
  margin-top:40px;
  display: block;
  background-color: $blue;
  color: white;
  font-size: 1.3em;
  font-weight: 600;
}

// SHOW COURSE

#show-course-header {
  min-height: 300px;
  background: linear-gradient(to right, $blue, #616db3);
  color: white;
  padding-top: 25px;

  h3, h5, h2 {
    text-align: center;
  }
}

.show-course-info-row {
  margin-bottom: 20px;
}

#show-course-header {
}

#show-course-content {
  padding-top: 10px;
}

.border-circle {
  border-radius: 30px;
  border: 0.5px solid rgba(79, 79, 79, 0.8);
  font-weight: 300;
  color: #4F4F4F;
  float: left;
  width: 27px;
  text-align: center;
  display: inline-block;
  margin-right: 20px;
  height: 27px;
  padding: 4px;
}


.link-aula {
  decoration: none;
  font-size: 1.25em;
  color: #4F4F4F !important;
}

.aulas-header {
  margin-top: 50px;
}

.panel-show-course {
  margin-top: 50px;
  height: 250px;
  padding-top: 50px
}

// SHOW AULA



.content-container {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 50px;
}

#disqus_thread {
  padding: 15px;
}




// box-shadow para ser usado no cinza: 0 0.125em 0.25em 0 rgba(46, 61, 73, 0.12);
// box-shadow udacity no branco: 0.3125em 1.25em 0 rgba(46, 61, 73, 0.12);
// box-shadow code-school padráo: 0 1px 1px rgba(0,0,0,0.3)
